
    <div class="content">

        <mat-toolbar color="primary">
            <span>Announcements</span>
            <button mat-button fxHide.lt-md>
                <span *ngIf="userType == 'management'">Add Announcement</span>
            </button>
        </mat-toolbar>

        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of announcements | slice:pageIndex*pageSize:pageIndex*pageSize + pageSize">
                <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                        <mat-card-title>Announcement {{num}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="./../assets/photos/announcements/announcement.jpg">
                    <mat-card-content>
                        <p>
                            İstanbul’da hayatı olumsuz etkileyen lodos nedeniyle İstanbul Valiliği’nin aldığı karar çerçevesinde 30 Kasım Salı günü üniversitemizde yüz yüze eğitim yapılmayacak, tüm eğitimler çevrimiçi/online şekilde icra edilecektir.
                        </p>
                        <p>
                            <strong>Date:</strong> 2.12.2021
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Examine</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div class="paginator">
            <mat-paginator (page)="handlePageEvent($event)"
            [length]="length"
            [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="pageIndex"
            aria-label="Select page">>
            </mat-paginator>
        </div>
    </div>
