<body>
    <div class="main">
        <h2>Profile</h2>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <table>
                    <tbody>
                        <tr>
                            <td>Student ID</td>
                            <td>:</td>
                            <td>64170000</td>
                        </tr>
                        <tr>
                            <td>Full Name</td>
                            <td>:</td>
                            <td>Lorem Ipsum</td>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td>:</td>
                            <td>lorem</td>
                        </tr>
                        <tr>
                            <td>Current Room</td>
                            <td>:</td>
                            <td>Room1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <button matBadge="{{number}}" [matBadgeHidden]="number==0" (click)="toggleBadgeVisibility()" matBadgeColor="warn" mat-raised-button style="font-size: 18px;"><img src="../../../assets/photos/profile/payment-history.png"> <br>Payments On Wait</button>
</body>