<div class="canvas">
    <div class="content">
        <mat-toolbar>
            <span>Profile</span>
        </mat-toolbar>
        <mat-card class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <table>
                    <tbody>
                        <tr>
                            <td>Student ID</td>
                            <td>:</td>
                            <td>{{currentStudentNumber}}</td>
                        </tr>
                        <tr>
                            <td>Full Name</td>
                            <td>:</td>
                            <td>{{currentStudentFullName}}</td>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td>:</td>
                            <td>{{currentStudentUserName}}</td>
                        </tr>
                        <tr>
                            <td>Current Room</td>
                            <td>:</td>
                            <td>{{currentStudentCurrentRoomName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button [disabled]="paymentIsExist==0" matBadge="{{paymentIsExist}}" [matBadgeHidden]="paymentIsExist==0" (click)="openPaymentDialog()" matBadgeColor="warn" mat-raised-button style="font-size: 18px;"><img src="../../../assets/photos/profile/payment-history.png"> <br>Payments On Wait</button>

        </mat-card>
    </div>

</div>