body {
    overflow: hidden;
    width: 103.3em;
    background-color: #630000!important;
    background-attachment: fixed;
    background-size: cover;
}

.main {
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 10%;
    font-size: 28px;
    padding: 10px 50px;
}

.main h2 {
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.main .card {
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
    background-color: rgba(255, 255, 255, 0.616);
    border: solid;
}

.main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
}

.edit {
    position: absolute;
    color: #e7e7e8;
    right: 14%;
}

button img {
    height: 40px;
}

button {
    background-color: rgba(255, 255, 255, 0.616);
    border: none;
    width: 150px;
    height: 80px;
    border-radius: 1em;
    font-size: 25px;
    border: solid rgb(92, 62, 47) 0.2em;
    margin-left: 65px;
}

button:hover {
    background-color: rgba(175, 175, 175, 0.616);
    cursor: pointer;
}