<h1 mat-dialog-title>{{currentRoom.get(this.data.roomId)?.name}}</h1>

<mat-dialog-content class="container mat-typography">
    <div class="mat-typography container-image">
        <img mat-card-image [src]="getDownloadURL(currentRoom.get(this.data.roomId)?.name)">
    </div>
    <div class="container-info">
        <h3>Description</h3>
        <p>{{currentRoom.get(this.data.roomId)?.description}}</p>

        <h3>Capacity</h3>
        <p>{{currentRoom.get(this.data.roomId)?.maxCapacity}}</p>

        <h3>Price</h3>
        <p>{{currentRoom.get(this.data.roomId)?.price}} TL</p>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
</mat-dialog-actions>