<h1 mat-dialog-title>{{currentRoom.get(this.data.roomId)?.name}}</h1>

<mat-dialog-content class="container mat-typography">
    <div class="mat-typography container-image">
        <img mat-card-image [src]="getDownloadURL(currentRoom.get(this.data.roomId)?.name)">
    </div>
    <div class="container-info">
        <b><h2>Description</h2></b>
        <p>{{currentRoom.get(this.data.roomId)?.description}}</p>

        <b><h2>Capacity</h2></b>
        <p>{{currentRoom.get(this.data.roomId)?.maxCapacity}}</p>

        <b><h2>Price</h2></b>
        <p>{{currentRoom.get(this.data.roomId)?.price}} TL</p>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
</mat-dialog-actions>