<h1 mat-dialog-title>Payment Information</h1>

<mat-dialog-content class="container">
    <mat-form-field appearance="fill">
        <mat-label>Student</mat-label>
        <input matInput readonly ngModel="{{currentStudent.fullname}}">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Room</mat-label>
        <input matInput readonly ngModel="{{currentRoom.name}}">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput readonly ngModel="{{currentRoom.price}} TL">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Pay</button>
</mat-dialog-actions>