.canvas {
    min-height: 100%;
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
}

.content {
    width: 100%;
    padding: 50px;
    background-color: #BAB2B5!important;
}

mat-toolbar {
    justify-content: space-between;
    background: #242F40;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
}

mat-paginator {
    background: #242F40;
    color: white;
    margin-top: 5px;
    border-radius: 5px;
}

table {
    width: 100%;
    background-color: #fff6f2;
}

button {
    background-color: #fffcfaef;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.lastItem {
    padding-right: 20px;
    width: 30%!important;
    position: relative;
}

.decision {
    width: 14%;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.td {
    margin: 15px;
}