<div class="canvas">
    <div class="content">

        <div class="container">
            <mat-toolbar>
                <span>Room Applications</span>
            </mat-toolbar>

            <mat-form-field appearance="standard">
                <mat-label> Filter</mat-label>
                <input matInput placeholder="Ex. Student Name" #input (keyup)="applyFilter($event)">
            </mat-form-field>


            <table #table mat-table matSort class="mat-elevation-z8" [dataSource]="dataSource">

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                    <td mat-cell *matCellDef="let row"> {{row.type}} </td>
                </ng-container>

                <ng-container matColumnDef="studentName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Student Name </th>
                    <td mat-cell *matCellDef="let row"> {{getStudentName(row.studentID)}} </td>
                </ng-container>

                <ng-container matColumnDef="currentRoom">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Room </th>
                    <td mat-cell *matCellDef="let row">
                        <span *ngIf="row.currentRoomID != ''">{{getRoomName(row.currentRoomID)}}</span>
                        <span *ngIf="row.currentRoomID == ''"> — </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="appliedRoom">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Applied Room </th>
                    <td mat-cell *matCellDef="let row"> {{getRoomName(row.appliedRoomID)}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let row"> {{row.date | date:'shortDate'}} </td>
                </ng-container>

                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="lastItem">Note</th>
                    <td mat-cell *matCellDef="let row" class="lastItem">
                        <span *ngIf="row.note != ''">{{row.note}}</span>
                        <span *ngIf="row.note == ''"> — </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="decision"> Decision </th>
                    <td mat-cell *matCellDef="let row" class="decision"> <button mat-raised-button>Approve</button><button mat-raised-button>Reject</button> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No application data..</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

        </div>
    </div>
</div>