.canvas {
    min-height: 100%;
    display: flex;
}

.content {
    width: 100%;
    padding: 50px;
    background-color: #BAB2B5!important;
}

.content>mat-card {
    margin-bottom: 16px;
}

mat-toolbar {
    justify-content: space-between;
    background: #242F40;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
}

mat-paginator {
    background: #242F40;
    color: white;
    margin-top: 5px;
    border-radius: 5px;
}

mat-card {
    background-color: #EEE2DC;
}