<div class="canvas">
    <div class="content">
        <mat-toolbar>
            <span>Available Rooms</span>
            <button mat-button fxHide.lt-md (click)="openAddRoomDialog()">
                <span *ngIf=" userType=='management' ">Add Room</span>
            </button>
        </mat-toolbar>

        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of allRooms | keyvalue | slice:pageIndex*pageSize:pageIndex*pageSize + pageSize">
                <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                        <mat-card-title>{{num.value.name}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image [src]="getDownloadURL(num.value.name)">
                    <mat-card-content>
                        <p>
                            {{num.value.description.substring(0,255)}}<span *ngIf="num.value.description.length > 254">...</span>
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button (click)="openExamineRoomDialog(num.key)">Examine</button>
                        <div *ngIf="userType == 'student'; then studentButtons; else managementButtons"></div>
                        <ng-template #studentButtons>
                            <div *ngIf="studentRoomID == ''; then apply; else requestChange"></div>
                            <ng-template #apply><button mat-button (click)="openApplicationDialog('Room Application', num.key)">Apply</button></ng-template>
                            <ng-template #requestChange><button mat-button (click)="openApplicationDialog('Room Change Request', num.key)">Request a Room Change</button></ng-template>
                        </ng-template>
                        <ng-template #managementButtons>
                            <button mat-button (click)="openEditRoomDialog(num.key)">Edit</button>
                            <button mat-button (click)="remove(num.key)">Remove</button>
                        </ng-template>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <div class="paginator">
            <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize" [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex" aria-label="Select page">>
            </mat-paginator>
        </div>
    </div>
</div>