mat-toolbar {
    justify-content: space-between;
}

body {
    background-color: #630000!important;
}

.content {
    height: 100%;
    padding: 50px;
    background-color: #630000!important;
}

.content>mat-card {
    margin-bottom: 16px;
}

.mat-toolbar.mat-primary {
    background: #000000;
    color: #fff;
}

.paginator {
    position: sticky;
    margin-top: 50px;
}