.content {
    padding: 50px;
    padding-top: 30px;
    background-color: rgb(163, 163, 207)!important;
    flex: 1 1 auto!important;
}

.container {
    position: relative;
    text-align: center;
}

.container-text {
    position: absolute;
    top: 12.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 64px;
    line-height: 64px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 98%;
    padding: 40px;
}

.mat-elevation-z4 {
    margin: 15px;
    padding: 55px;
}

mat-card img {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}