.canvas {
    min-height: 100%;
    display: flex;
}

.content {
    padding: 50px;
    background-color: #BAB2B5;
    flex: 1 1 auto!important;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container-text-border {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.container-text {
    text-align: center;
    color: white;
    font-size: 48px;
    line-height: 48px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    padding-bottom: 50px;
    width: 51.5%;
    margin-left: 349.5px;
}

.card-container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mat-elevation-z4 {
    margin: 15px;
    padding: 55px;
    background-color: #EEE2DC;
}

mat-card img {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}