<div class="canvas">
    <div class="content">

        <div class="container">
            <div class="container-image">
                <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="5" [imageSize]="{width: '100%', height: '50%', space:'5'}" slideImage="1" [animationSpeed]="0.3" [manageImageRatio]="true"> </ng-image-slider>
            </div>
            <div class="container-text-border">
                <div class="container-text">Istanbul Medipol University Student Dorms</div>
            </div>
        </div>

        <div class="card-container" fxLayout="row wrap" fxLayoutGap="16px grid">
            <div class="card-row" [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
                <mat-card class="mat-elevation-z4">
                    <img mat-card-image src="../../../assets/photos/home/cards/1.webp">
                    <mat-card-header>
                        <mat-card-title>Provisions Service</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Our students are served three meals every day in the dorms. Our meals consist of an open breakfast buffet, an optional menu, and a salad bar. Our students are responsible for the cost of meals in our dorms. Pricing is calculated based on the menu that
                            has been generated.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="mat-elevation-z4">
                    <img mat-card-image src="../../../assets/photos/home/cards/2.webp">
                    <mat-card-header>
                        <mat-card-title>Cleaning Service</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            The cleaning service in our dorms is provided by a professional firm. The experienced team cleans the rooms, bathrooms, WCs, and hallways every day. Each student is given bed linen, blankets, and pillows, which are replaced every 15 days by the housekeeping
                            staff. Laundry and ironing services are available. In our dorms, the student is responsible for the laundry price per machine.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="mat-elevation-z4">
                    <img mat-card-image src="../../../assets/photos/home/cards/3.webp">
                    <mat-card-header>
                        <mat-card-title>Security Service</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            In our dorms, a professional security crew is on duty 24 hours a day, and every point of our student dorms is monitored by 24-hour security cameras. At the dormitory's entrances, a turnstile system is used. In our dorms, the final entry time is 23.30.
                            The night attendant takes student attendance. Our ladies' and boys' dorms both have night attendants. The form is filled up and the permit registry is kept at the house's exit.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

</div>