.sidebar {
    width: 250px;
    height: 100%;
    background-color: #EEE2DC!important;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0!important;
    padding: 1rem!important;
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.crosshair {
    cursor: pointer!important;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold {
    font-weight: 600;
}

.lh-tight {
    line-height: 1.25;
}

li:hover {
    background-color: #e4928545;
}

.sidebar li.active {
    background-color: #41181245;
    color: black;
}

hr,
title,
li {
    color: #000000;
}

.login-container {
    margin: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

mat-hint {
    color: red!important;
}

mat-form-field {
    margin-bottom: 15px;
}