.sidebar {
    width: 250px;
    height: 100%;
    background-color: #EEE0CB!important;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0!important;
    padding: 1rem!important;
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.crosshair {
    cursor: pointer!important;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold {
    font-weight: 600;
}

.lh-tight {
    line-height: 1.25;
}

li:hover {
    background-color: #BAA898;
}

.sidebar li.active {
    background-color: #c2847a45;
    color: black;
}

hr,
title,
li {
    color: #000000;
}

.login-container{
    margin: 25px;
}