mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 50px;
    background-color: #630000!important;
}

.content>mat-card {
    margin-bottom: 16px;
}

.mat-toolbar.mat-primary {
    background: #000000;
    color: #fff;
}