<div class="d-flex bd-highlight" style="height: 100%">

    <app-sidebar></app-sidebar>
    <div class="content">

        <mat-toolbar color="primary">
            <span>Available Rooms</span>
            <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
                <span *ngIf="gridColumns === 4">Three Columns</span>
                <span *ngIf="gridColumns === 3">Four Columns</span>
            </button>
        </mat-toolbar>

        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">
                <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                        <mat-card-title>Room {{num}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="./../assets/photos/rooms/{{num}}.jpg">
                    <mat-card-content>
                        <p>
                            Here’s a sample floor plan of a standard Cluster room with communal living and dining space. Please note that layout and size may vary by room and apartment.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <div *ngIf="userType == 'student'; then studentButtons; else managementButtons"></div>
                        <ng-template #studentButtons>
                            <div *ngIf="haveRoom == 0; then apply; else requestChange"></div>
                            <ng-template #apply><button mat-button>Apply</button></ng-template>
                            <ng-template #requestChange><button mat-button>Request a Room Change</button></ng-template>
                        </ng-template>
                        <ng-template #managementButtons>
                            <button mat-button>Edit</button>
                            <button mat-button>Unpost</button>
                        </ng-template>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

    </div>
</div>