html,
body {
    height: 100%;
    /*background-image: url("./assets/grass.jpg");*/
    background: linear-gradient(#5B6D5B, #4a584a);
    font-family: 'Acme'!important;
}

.content {
    background-color: #8E9775!important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    overflow-y: scroll;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}