<h1 mat-dialog-title>Edit Room Information</h1>

<mat-dialog-content class="container">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput ngModel="{{currentRoom.name}}" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput ngModel="{{currentRoom.description}}" required></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Capacity</mat-label>
        <mat-select ngModel="{{currentRoom.capacity}}">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Price</mat-label>
        <input matInput type="number" ngModel="{{currentRoom.price}}"  class="right-align" required>
        <span matSuffix>.00 TL</span>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>

